# Compiled Lua sources
luac.out

# ignore all
*
# except:
!.gitignore
!launch_spring_GA.py
!gamedata/
!gamedata/sidedata.lua
!gamedata/side_units/
!gamedata/side_units/f*
!gamedata/side_armor_defs/
!gamedata/side_armor_defs/f*
!icons/
!icons/fil*
!LuaHandler/
!LuaHandler/*
!LuaHandler/Utilities/
!LuaHandler/Utilities/*
!LuaIntro/
!LuaIntro/Addons/
!LuaIntro/Addons/*
!LuaIntro/*
!luarules/
luarules/*
!luarules/configs/
!luarules/configs/craig/
!luarules/configs/craig/s44
!luarules/configs/craig/s44/*
!luarules/configs/side_hq_spawn
!luarules/configs/side_hq_spawn/f*
!luarules/configs/side_squad_defs
!luarules/configs/side_squad_defs/f*
!luarules/gadgets/
luarules/gadgets/*
!luarules/gadgets/mainga.lua
!luarules/gadgets/GA/
!luarules/gadgets/GA/*
!luarules/gadgets/craig/
luarules/gadgets/craig/*
!luarules/gadgets/craig/main.lua
!luarules/gadgets/craig/genetic_algorithm.lua
!luaui/
!luaui/main.lua
!luaui/widgets/
!luaui/widgets/unit_damage_info.lua
!scripts/
!scripts/fil*
!sidepics/
!sidepics/fil*
!unitpics/
!unitpics/fil*
!units/
!units/fil/
!units/fil/buildings/
!units/fil/buildings/*
!units/fil/infantry/
!units/fil/infantry/*
!units/fil/*

# ...even if they are in subdirectories
# !*/

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
